body{
  width: 100%;
  height: 100%;
  .start-menu{
    display: block;
    background-color: blue;
    width: 100%;
    height: 200px;

    #hello_btn{
      color: red;
    }
  }
  .first-level{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    background-color: rgba(44, 231, 79, 0.7);

    display: block;

    h1{
      font-size: 5vw;
    }
    button{
      padding: 20px;
    }
    #creatureBtn{
      background-color: blue;
    }
    #bossBtn{
      background-color: red;
    }
    #eatBtn{
      background-color: #dddddd;
    }
    #drinkBtn{
      background-color: #d342de;
    }
    #playerAttack{
      padding: 10px;
      background-color: #ef1313;
    }
    .creatureStats{
      font-size: 3vw;
    }
    #playerStats{
      font-size: 4vw;
    }
    #creatureHP{
      color: purple;
      font-size: 2vw;
    }
  }
}
